@import "../../variables";

.modal-warning {
  .modal-dialog {
    @media (min-width: 576px) {
      max-width: (468 / $df-fs) * $rem;
    }
    @media (max-width: 575px) {
      max-width: (272 / $df-fs) * $rem;
      margin: auto;
    }
  }

  .modal-header {
    border: none;
    justify-content: center;

    .logo {
      margin-right: (8 / $df-fs) * $rem;
    }
  }

  .modal-footer {
    text-align: center;
    border: none;

    * {
      border-radius: 0;
    }

    .btn {
      width: (182 / $df-fs) * $rem;
      font-size: (13 / $df-fs) * $rem;
      padding-left: (16 / $df-fs) * $rem;
      padding-right: (16 / $df-fs) * $rem;
      padding-top: (7 / $df-fs) * $rem;
      padding-bottom: (9 / $df-fs) * $rem;
      white-space: pre-line;
    }

    .btn-wrapper {
      margin: 0 (4 / $df-fs) * $rem;
    }

    @media (max-width: 575px) {
      .btn {
        width: (110 / $df-fs) * $rem;
      }
      .btn-wrapper {
        margin: (2 / $df-fs) * $rem;
      }
    }
  }

  .modal-header,
  .modal-body {
    padding: 0 (48 / $df-fs) * $rem (16 / $df-fs) * $rem;
  }

  .modal-footer {
    padding: 0;
  }

  .modal-body {
    white-space: pre-line;
  }

  .modal-content {
    padding-top: (48 / $df-fs) * $rem;
    padding-bottom: (48 / $df-fs) * $rem;
  }

  @media (max-width: 575px) {
    .modal-content {
      padding-top: (24 / $df-fs) * $rem;
      padding-bottom: (24 / $df-fs) * $rem;
    }
    .modal-header,
    .modal-body {
      padding: 0 (24 / $df-fs) * $rem (16 / $df-fs) * $rem;
    }
  }
}

.modal-warning-backdrop {
  background-color: var(--black);

  &.show {
    opacity: 0.75 !important;
  }
}

.modal-open {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  .modal {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  .modal-dialog-centered {
    min-height: 100%;
    height: 100%;

    &:before {
      height: 100%;
    }
  }
}
