@import '../../variables';

.header-wrapper {
  position: relative;

  .logo-block {
    display: inline-block;

    .logo-left {
      width: (100/$df-fs)*$rem;
      margin-right: (32/$df-fs)*$rem;
    }
  }
}
